pkgbase = touch-dashboard
	pkgdesc = Touch-friendly FastAPI system dashboard with a PyWebView desktop wrapper
	pkgver = 0.1.0
	pkgrel = 1
	url = https://codeberg.org/liburnb/Touch-Dashboard
	arch = any
	license = MIT
	depends = python
	depends = python-fastapi
	depends = uvicorn
	depends = python-requests
	depends = python-psutil
	depends = python-spotipy
	depends = python-pywebview
	depends = python-pystray
	depends = python-pillow
	depends = python-evdev
	depends = python-gobject
	depends = webkit2gtk-4.1
	depends = playerctl
	depends = pipewire
	depends = wireplumber
	optdepends = python-pynvml: NVIDIA GPU telemetry
	optdepends = speedtest-cli: dashboard speed test action
	optdepends = pulseaudio: pactl compatibility command
	source = touch-dashboard-0.1.0.tar.gz
	sha256sums = SKIP

pkgname = touch-dashboard
